.jumbotron {
  text-align: center;
  /*background-color: transparent;*/
  background-image: linear-gradient(to right top, #313705, #1c562d, #007369, #008eaf, #12a0eb);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  margin-bottom: 20px;
  padding-top: 20px;
}